.Object3DPropertiesDialog
  width: 400px

  .input
    background-color: var(--input-background-color)
    color: var(--text-primary-color)
    border: 0
    border-radius: 2px
    font-size: 14px
    height: 30px
    width: 100%
    line-height: 16px
    padding: 8px 9px 6px
    margin-top: 10px
    display: block

    &.textarea
      height: 80px
      min-height: 40px
      max-height: 220px
      resize: vertical

  .footer
    margin: 0
